fastapi
uvicorn
python-multipart
groq
openai
fastembed
pdfplumber
pypdfium2
pillow
pytesseract
python-docx
python-pptx
python-dotenv
requests
numpy
pyjwt
sqlalchemy
psycopg2-binary
faiss-cpu
rank_bm25
pytest